IC/
notebooks/*
outputs/
analysis/*
!analysis/test_split_conv.py
!analysis/sampling_stepsize.py
!analysis/sampling_models_rmse.py
!analysis/sampling_scales.py
models/__pycache__
plots/*
trained_models/*
**/*.DS_Store
slurm*
*.err
*.out
*.pickle
out.txt
src/SR21cm.egg-info